
<div class="row">
    <label class=" btn btn-primary mx-auto d-block"><h1>Published Quizzes</h1></label>
    <br>
        <table class="table table-dark table-hover ">
    <tr><th>Quiz Name</th><th>owner Name</th></tr>
    {{# each quizzes}}
    <tr><td><a href="/showquiz?id={{this.id}}">{{this.name}}</a></td> <td><label >{{this.owner.name}}</label></td></tr>
    {{/each}}

    </table>
    <script>
        if(document.cookie.search("quizUserToken")!=-1)
     {   document.getElementById('s').style.display = 'none'; 
document.getElementById('s2').style.display = 'none';}
    </script>
        
</div>